body{
    background: #65aadd !important;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    margin: 20px auto;
}
.profile{
    background-color: #fff;
}
.work_info{
    background-color: #fafafa;
}
.work_schedule{
    background: #fafafa;
}