body{
    background: #8ff0bc;
}
/*header*/
.navBarTop > div{
    margin: 0 0 0 10px;
}
.logoIcon{
    margin: 0 10px 0 0;
}
.menuBar, .formSearch, .logoIcon > span{
    display: none;
}

/*header end*/
.content{
    margin: 10px;
}
/*first bloc*/
.boxLike{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boxImage{
   margin: 0 6px -1px 1px;
}
.boxImage > img{
    width: 100%;
    height:auto;
    min-width: 245px;
    margin-right: -1px;
}
/*first bloc end*/
/*bloc icons*/
.boxDescription{
    width: auto;
    justify-content: space-around;
    align-items: center;
    margin-right: 1px;
}
/*bloc icons end*/
/*bloc general*/
.blocGeneralFirst{
    justify-content: center;
}
.boxGeneral{
    margin: 3px 5px 0 4px;
}
/*bloc general end*/

.blocFlexFirst{
    flex-direction: column;
}
.containerDetails{
    min-width: 0;
}
.containerDetails > div{
    flex-direction: column;
}
/*box general information*/
.boxInformation{
    margin: 0 4px 4px 4px;
}
/*box general information end*/
.boxDetailsMenu{
    width: 100%;
    flex:2;
    flex-wrap: nowrap;
    justify-content: center;
}
.containerStatusVideo{
    min-width: 0;
}
.boxVideo> div{
    flex-direction: column;
}
.boxDataCode{
    display: flex;
    flex-direction: row;
}
.flexBlocFirst{
    flex-direction: column;
}