body{
    background: #8ff0bc;
}
/*header*/
.navBarTop > div{
    margin: 0 0 0 10px;
}
.logoIcon{
    margin: 0 10px 0 0;
}
.menuBar, .formSearch, .logoIcon > span{
    display: none;
}

/*header end*/
.content{
    margin: 10px;
}

.blocGeneralFirst{
    justify-content: center;
}
.blocFlexFirst{
    flex-direction: column;
}
.containerDetails{
    min-width: 0;
}
.containerDetails > div{
    flex-direction: column;
}
.boxContent > input{
    width:100%;
}
.boxDetailsMenu{
    width: 100%;
    flex:2;
    flex-wrap: nowrap;
    justify-content: center;
}
.containerStatusVideo{
    min-width: 0;
}
.boxVideo> div{
    flex-direction: column;
}
.boxDataCode{
    display: flex;
    flex-direction: row;
}
.flexBlocFirst{
    flex-direction: column;
}