.mg-r-10{
    margin-right: 10px;
}
.mg-b-10{
    margin-bottom: 10px;
}
.mg-l-10{
    margin-left: 10px;
}
.mg-l-50{
    margin-left: 50px;
}
.ht-40{
    height: 40px;
}
.ht-200{
    height: 200px;
}
.wd-50p{
    width:50%;
}
.wd-200{
    width: 200px;
}
.line-h-07{
    line-height: 0.7;
}
/*flex*/
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justify-content-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.justify-content-around{
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.justify-content-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.align-items-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*flex end*/
