.container{
	position: relative;
	margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
    flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
    align-items: center;
}
.slide{
	position: relative;
}
.page {
    position: absolute;
    color: #fff;
    margin: 10px;
}
#prev, #next{
	position: relative;
    top: 150px;
    z-index: 1;
}
#prev{
    right: 282px;
    top: 200px;
}
#next{
    left: 282px;
    top: 165px;
}
