h3{
    margin: 0;
    font-size: 17px;
}
h4, h5{
    margin-bottom: 0;
}
span{
    font-size: 15px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.container{
    width: 80%;
    max-width: 1700px;
    margin: 30px auto;
    height: auto;
}
.table-procedure{
    text-align:left;
}
.table-procedure li{
    width: 30%;
}
@media screen and (max-width: 400px) {
   .img-patient{
       width: 230px;
   }
    .indexpicker .time_pick{
        width: 150px;
    }
}
@media screen and (max-width: 700px) {
    .table-procedure ul{
        justify-content: center;
    }
    .procedure{
        display: none;
    }
}
@media screen and (max-width: 950px) {
    .list-procedure{
        margin: 0;
    }
    .portfolio-patient{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center!important;
        flex-direction: column;
    }
    .portfolio-patient div, h4{
        text-align: center!important;
    }
    .new-procedure{
        flex-direction: column;
    }
}